@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  background: #0b1220;
  padding: 2px 6px;
  border-radius: 6px;
}
.card {
  @apply rounded-2xl border border-white/10 bg-white/5 p-5;
}

.btn {
  @apply bg-sky-600 hover:bg-sky-500 text-white px-3 py-1 rounded;
}
