numpy==1.26.4
scipy==1.11.4
gymnasium==1.1.1
gymnasium[classic-control]==0.29.1
torch==2.1.2
tensorboard==2.15.1
numpy==1.24.4
scipy==1.10.1
gymnasium[classic-control]==0.29.1
torch==2.8.0
tensorboard==2.20.0
tqdm==4.66.3
click==8.1.7
cloudpickle==2.2.1
mpi4py==3.1.5
