anthropic
boto3
fastapi
httpx
PyJWT[crypto]
cryptography
matplotlib==3.9.4
mpmath
notion-client
matplotlib==3.9.4
numpy==1.26.4
paho-mqtt
openai==2.3.0
paho-mqtt
pydantic
pyarrow==16.1.0
pre-commit==4.3.0
psutil
pydantic
pyarrow==16.1.0
pre-commit==4.3.0
PyJWT
PyYAML==6.0.2
python-dotenv
qiskit-aer==0.17.1
qiskit-machine-learning==0.8.3
requests==2.32.4
redis
streamlit==1.48.1
torch
uvicorn
whisper
typer
pytest
openai-whisper
torch
