NODE_ENV=production
PORT=4000
INTERNAL_TOKEN=change-me
GITHUB_WEBHOOK_SECRET=change-me
ALLOW_SHELL=false
BRANCH_MAIN=main
BRANCH_STAGING=staging

SLACK_WEBHOOK_URL=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_DEPLOYS=Deploys

LINEAR_API_KEY=
LINEAR_TEAM_ID=

SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=
SF_PASSWORD=
SF_TOKEN=
