POSTGRES_HOST=blackroads-postgres
POSTGRES_DB=blackroads
POSTGRES_USER=blackroads
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
POSTGRES_PORT=5432
DBT_HOST=blackroads-postgres
DBT_DB=blackroads
DBT_USER=blackroads
DBT_PASSWORD_FILE=/run/secrets/postgres_password
DBT_PORT=5432
PREFECT_API_URL=http://blackroads-prefect:4200/api
TZ=America/Chicago
BLACKROADS_DOMAIN=blackroad.io
