# Copy to secrets/droplet.env and fill in values
DROPLET_IP=159.65.43.12
DROPLET_HOST_FINGERPRINT_SHA256=b3uikwBkwnxpMTZjWBFaNgscsWXHRRG3Snj9QYke+ok=
DROPLET_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDM9hhga2fhCyZdJ7q4WwHtXQBGVy/HYDkCHCDJOPnqu2yppa6GUHOnELrxkrk3dZRqucmVikdvT0Dzj1kqcD12v/zJdaMg+AmUuA9SDp2bBwqR5/o2JXZs+r9lSuOhKls10wPsAnaGPM+xSDt1srrnoH+QSr7S3hiee8pq2apjEMxTEmGee0YALDeyvH3eYMTVoznriqn6rJqsc25VgNKjQS84GbZbQcPwBjGTKXRR632OiBjiRLgLBA+XRBb7zccFDIKE6F8QmsyN3GDdf3j0cqUbs646Oxn4mDKLdfD9pNjJT0qR4ygEUfi+kBiknvyQJcucMVfLUytjDvKNsLrUWv0JhDh5Ecd08fsrHpW/FKNZ6SYh+xuOOgSnuROqVEC3aZbdKp9pi+6o9dFSjs1KWThdKMMq8KwHXD58N39VUfZKa6Z4QW2ByUmUjo6ssAoHM8WgUpcdKCCf2CZuIGgMQjQ4W7TxZhkEewPKjh2OWzn2w6YQAbnLm3DFduvkGXybpI6NK0DcjcV9Ec8k4ent9VDrQhPhGPvd6BbQhHjSJmVQYIUwmX0XcPX2dq/UirwrIxv08/XL5omtZf8f9IkT94IIHq7+JUMphuqv93lo+cbnO5VERUWVZYPcNFjzCP1jtXm5llY/uGF8AhvSo1HlkfxQQvRzHgUqYSlAxw6JnQ== WorkingCopy@iPhone-14082025"
DROPLET_PRIVATE_KEY_PATH=secrets/droplet_key
DROPLET_PRIVATE_KEY_PASSPHRASE=
